.cart h1{
    text-align: center;
    margin: 80px;
    font-family: 'Raleway', sans-serif;
    font-size:3rem;
    font-weight:800;
    color: #32f03c;
}
.cart__details{
    border-radius: 1.4rem;
    padding: 40px;
    box-shadow: 0px 0px 30px 1px rgba(173, 172, 172, 0.411);
    transition: all 0.3s ease-in-out;
}
.cart__details:hover{
    box-shadow: 0px 0px 30px 1px rgba(117, 117, 117, 0.534);
}
.cart__details h2{
    margin-bottom: 30px;
    font-family: 'Raleway',sans-serif;
    font-weight:600;
}
.cart__details h4{
    font-family: 'Opan Sans', sans-serif;
    margin-bottom:20px;
    font-weight: 500;
}
.cart__details button{
    margin-top:20px;
}
.cart a{
    color: #fff;
    text-decoration: none;
}